.button {
  flex: 1;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;

  padding: 8px 24px;
  border: 4px solid;
  border-radius: 64px;
  border-color: #dbedde;

  outline: none;

  background-color: #b2e2cc;

  cursor: pointer;

  &:hover,
  &:focus-visible {
    border-color: #7be2b4;
  }
}
